<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Nizar's Page </title>

                      <!-- public/styles/styles.css -->
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <h1> About Nizar </h1>
    <p> He likes pizza. </p>

    <!-- Link to -> http://localhost:3000/-->
    <a href="/">
      Back to Home
    </a>
  </body>
</html>
