<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/styles/about.css">
  </head>
  <body>
<h1> About The Fate of the Furious' Movie</h1>
<p> Dominic Toretto and Letty Ortiz are enjoying their honeymoon in Cuba when Dom is approached by elusive cyberterrorist Cipher, who has kidnapped Dom's ex-girlfriend Elena Neves and their son, whom Dom didn't know about, to force Dom to collaborate with her. Dom and his crew, comprised of Letty, Roman Pearce, Tej Parker, and Ramsey, are then recruited by DSS agent Luke Hobbs to help him retrieve an EMP device from a military outpost in Berlin. During the getaway, Dom goes rogue, forcing Hobbs off the road and stealing the device on Cipher's behalf, while Hobbs is arrested by the local authorities and locked up alongside an old enemy, international assassin Deckard Shaw. They are later extracted from prison by intelligence operative Tom Petty and his new partner, Eric Reisner, who recruit Shaw to help Hobbs and the crew find Dom and capture Cipher.

Shaw reveals that Cipher had been responsible for previous encounters with the team, such as employing his brother Owen Shaw to steal the Nightshade device and, later, orchestrating the attempted theft of Ramsey's "God's Eye" software program. Dom and Cipher attack the base and steal the God's Eye. Cipher then sends Dom to New York City to retrieve the nuclear football belonging to a Russian ambassador, but Dom manages to evade her long enough to approach Deckard and Owen's mother, Magdalene Shaw, for help. The team intercepts Dom after he steals the football, but Dom escapes, shooting Deckard in the process, while Cipher facilitates Dom's escape by hacking into all the smart cars in the city and reprogramming them to wreak havoc. Letty catches up to Dom, but is ambushed and nearly killed by Cipher's enforcer, Connor Rhodes, before Dom rescues her. In retaliation, Cipher has Rhodes kill Elena in front of Dom.

Dom is deployed to Russia to use the EMP device to disable a nuclear submarine, enabling Cipher to hijack it and use its arsenal to trigger a war, but is once again intercepted by the team, equipped with modified vehicles provided by Petty. Meanwhile, Owen and Deckard, who had faked his death and been extracted by Dom's past crew members Tego Leo and Rico Santos, infiltrate Cipher's plane to rescue Dom's baby at Magdalene's behest. Once Deckard reports that the child is safe, Dom turns on Cipher and rejoins his team, killing Rhodes to avenge Elena and redirecting a missile fired by Cipher against the submarine, destroying it before Cipher can achieve her goals. Realizing that her plans have been foiled, Cipher parachutes out of the plane before being caught by Deckard and Owen and vanishes.

Petty and Reisner visit Dom and his crew in New York City to report that Cipher is still at large, and Dom vows to capture her. Deckard arrives to return the baby, puts his differences aside with Dom and Hobbs, and is accepted into their family. Dom decides to name the boy "Brian", after his brother-in-law Brian O'Conner, as they all celebrate. </p>
<img id="cast_photo" src="/images/cast.png"></img>
  </body>
</html>
