<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="images/Green.jpg" />
    <link rel="stylesheet" href="/styles/style.css">
    <title>Jessica's page</title>
</head>

<body>
    <center>

            <header>
                <a class="link" href="/">HOME.</a>
                <a class="link" href="/about">About Me &hearts;</a>
                <a class="link" href="/gallery">Gallery.</a>
            </header>
            <h1>I love to do Yoga any where possible!</h1>
            <h2>Here are a few places I've done yoga and truly enjoy do it with anyone.</h2>
<br>
        <div class="about">
        <center>
            <table>
                <tr>
                    <td>
                        <img class="gallery" src="/images/pose.jpg">
                        <p>Arial Yoga in Costa Rica</p>
                        <td>
                            <img class="gallery" src="/images/dancerPose.jpg">
                            <p>Dancer Pose at a Waterfall.</p>
                        </td>
                        <td>
                          <img class="gallery" src="/images/breakYoga.jpg">
                          <p>Yoga On Breaks are amazing</p>
                        </td>
                </tr>
                <tr>
                    <td>
                        <img class="gallery" src="/images/beachyoga.jpg">
                        <p>My Yogi Partner and I.</p>
                        <td>
                            <img class="gallery" src="/images/parkyoga.jpg">
                            <center><p>Park yoga.</p></center>
                        </td>
                        <td>
                            <img class="gallery" src="/images/couplePose.jpg">
                            <p>Yoga on the beach with a friend</p>
                        </td>
                </tr>
        </center>
        </table>
</div>
        <br>
        <footer>
            <p class="footer">Made By Jessica Palacios</a> 2017...<span>&hearts;</span></p>
        </footer>
    </center>

</body>

</html>
