<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> FLASH⚡️Gallery </title>

    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <h1>Here are some pictures of FLASH⚡️</h1>
      <a class='about' href="/about">
      About Flash</a>
      <a class='pics' href="/">
      Back to Home</a>
      <img src="\images\DC-Comics-The-Flash.jpg">
      <img src="\images\GalleryChar_1900x900_FL23_6-7_52ab8f8d847397.15032461.jpg">
      <img src="\images\FLASH_Intro.jpg">
      <img src="\images\Flash207.jpg">
      <img src="\images\10645166_792263844167470_6402290615327655508_n.jpg">

    </a>
  </body>
</html>
