<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> FLASH⚡️Page </title>

    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <h1>This is FLASH⚡️ official webpage</h1>
    <a class="about" href="/about">
     About Flash</a>
    <a class="pics" href="/gallery">
     Gallery
    </a>
    <div>
      <img src="/images/FLASH_Intro.jpg">
    </div>



  </body>
</html>
