<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Nizar's Page </title>

                      <!-- public/styles/styles.css -->
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <h1>Hello, students!</h1>

    <p> Flexitarian selvage fixie, cliche whatever blue bottle iceland church-key. Semiotics typewriter hexagon, post-ironic vinyl artisan flexitarian trust fund kombucha gastropub. </p>

    <img src="/images/omg-pizza.gif">
    <!-- public/images/omg-pizza.gif -->

    <!-- Link to -> http://localhost:3000/about -->
    <a href="/about">
      About Me
    </a>
  </body>
</html>
