<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trailer</title>
      <link rel="stylesheet" href="/styles/trailer.css">
  </head>
  <body>
<video id="trailer_video" src="/images/Trailer.mp4" autoplay /></video>
  </body>
</html>
